<div class="blog-post">
  <h4 class="blog-post-title"><%= link_to blog.title.upcase, blog %></h4>
  <p class="blog-post-meta">Published at <%= blog.created_at.strftime("%Y-%m-%d") %> ( <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago )</p>
  
  <% if logged_in?(:site_admin) %>
  <nav class="breadcrumb">
    <%= link_to blog.status.capitalize, toggle_status_blog_path(blog), class: "breadcrumb-item" %> 
    <%= link_to 'Edit', edit_blog_path(blog), class: "breadcrumb-item" %> 
    <%= link_to 'Delete Post', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "breadcrumb-item" %>
  </nav>
  <% end %>

  <p>
    <%= markdown blog.body %>
  </p>
</div>





