
<div class="col-sm-8 blog-main">
  <h2>
    <%= @blog.title %>
  </h2>
  <p>
    <strong>Body:</strong>
    <%= @blog.body %>
  </p>
  <% if logged_in?(:site_admin) %>
    <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <% end %>
  <%= link_to 'Back', blogs_path %>

  <!-- Start of comment form -->
  <%= render 'comments/comment_form' %>
  <!-- end form -->
  <!-- Start of comments -->
  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments%>
  </div>
  <!-- end form -->


</div>
