
<div class="col-sm-8 blog-main">
  <h2>
    <%= @blog.title %>
  </h2>
  <p>
    <strong>Body:</strong>
    <%= @blog.body %>
  </p>
  <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <%= link_to 'Back', blogs_path %>

  <!-- Start of comment form -->
  <%= render 'comments/comment_form' %>
  <!-- end form -->
  <!-- Start of comments -->
  <%= render @blog.comments%>
  <!-- end form -->


</div>
