<%= form_for(@portfolio_item) do |item|%>
  <div class="field">
    <%= item.label :title %>
    <%= item.text_field :title%>
  </div>

  <div class="field">
    <%= item.label :subtitle%>
    <%= item.text_field :subtitle%>
  </div>

  <div class="field">
    <%= item.label :body%>
    <%= item.text_area :body%>
  </div>
  <ul>
    <%= item.fields_for :technologies do |technology_form|%>
    <li>
      <%= technology_form.label :name %>
      <%= technology_form.text_field :name %>
    </li>
    <% end %>
  </ul>
  <div class="action">
    <%= item.submit%>
  </div>

<% end %>