<div class="container"> 
  <h1>Portfolio</h1>
  <%= link_to "Create new portfolio", new_portfolio_url if logged_in?(:site_admin) %>
  <% @angular_portfolio_items.each do |item| %>
    <h3><%= link_to item.title, show_portfolio_path(item.id) %></h3>
    <h4><%= item.subtitle %></h4>
    <p><%= item.body %></p>
    <%= image_tag item.thumb_image if !item.thumb_image.nil? %>
    <%= link_to "Edit portfolio", edit_portfolio_path(item.id) %>
    <%# method: :delete  is important because there has other method use the same path%>
    <%= link_to 'Destroy', portfolio_path(item.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>