
<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @portfolio_item.main_image.to_s, width:"100%" %>
      <h5>

      <% if logged_in?(:site_admin) %>
       | <%= link_to 'Edit', edit_portfolio_path(@portfolio_item.id) %>
      <% end %>
      </h5>

    </div>
    <div class="col-md-5">
      <h2>
        <%= @portfolio_item.title %>
      </h2>
      <em>      
        <%= @portfolio_item.subtitle %>
      </em>
      <p>
        <%= @portfolio_item.body %>
      </p>
      <h2>Technologies include:</h2>
      <div class="row">
      <% @portfolio_item.technologies.each do |technology_item| %>      
        <p>*<%= technology_item.name %>   </p>      
      <% end %>
      </div>
    </div>
  </div>
</div>



<hr>
<%= source_helper('portfolio show') %>
