
<div class="container portfolio-container">
  <%= image_tag @portfolio_item.main_image.to_s, width: "100%", class:"main-image" %>
  <h6 class="mt-1"><a href="<%= @portfolio_item.subtitle %>"> Go to project live site</a></h6>

  <h2><%= @portfolio_item.title %>
  </h2>

  <p>
    <%= @portfolio_item.body %>
  </p>
  <h2>Technologies include:</h2>

  <div class="row"><% @portfolio_item.technologies.each do |technology_item| %>     
    <h6 class="ml-3">*<%= technology_item.name %>   </h6>      
  <% end %></div>
<% if logged_in?(:site_admin) %>
  <div class="col-md-12">
    <%= link_to 'Edit', edit_portfolio_path(@portfolio_item.id), class: "btn btn-warning btn-block mt-2" %>
  </div>
<% end %>


</div>



<hr>
<%= source_helper('portfolio show') %>
