<div class="<%= location %>">
  <%= link_to 'Home', root_path %>
  <%= link_to 'About Me', about_me_path %>
  <%= link_to 'Contact', contact_path %>
  <%= link_to 'Portfolios', portfolios_path %>
  <%= link_to 'Blogs', blogs_path %>
</div>