
<div class="about-card-container">
  <div class="card">
    <div class="row" id="about-row">
      <div class="col-md-4">
        <%= image_tag "person.jpg", alt: "portfolio image", width: 300, class: "profile-img" %>    
      </div>

      <div class="col-md-8">
        <h1>I Am Full Stack Web Developer ^_^</h1>
        <hr>
        <p>I am a full stack web developer who just graduated from the Coding Dojo in Burbank, CA knowledgeable in Python, MEAN, and Ruby. </p>
        <p>My past experiences in business and marketing industries have helped me develop problem-solving skills, multi-tasking abilities, and attention to detail. </p>
        <p>Now, I am seeking an opportunity where I can use my skills to make a new project or handle existing project.</p>
        <h3 id="about-social">
          <a href="https://github.com/sindyxin"><%= fa_icon "github" %> </a>
          <a href="https://www.linkedin.com/in/xin-li-3b823a93/"><%= fa_icon "linkedin" %> </a>
          <a href="https://www.facebook.com/sindylixin?ref=bookmarks"><%= fa_icon "facebook" %> </a>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
          <button
            class="btn btn-info"
            type="button"
            data-toggle="collapse"
            data-target="#experience"
            aria-expanded="false"
            aria-controler="experience"
          >
            Experience
          </button>   
          <button
            class="btn btn-secondary"
            type="button"
            data-toggle="collapse"
            data-target="#skill"
            aria-expanded="false"
            aria-controler="skill"
          >
            Skills
          </button>        
        </h3>
      </div>
    </div>
    <p>
      <div class="collapse" id="education">
        <div class="card card-block bg-light">
          <div class="row">
            <h5>SOFTWEAR DEVELOPER PROGRAM</h5>
          </div>
          <h6>Coding Dojo Bootcamp ( 2018-Present )</h6>
          <i>Burbank, CA</i>
          <hr>
          <div class="row">
            <h5>FINANCE MASTER DEDREE</h5>
          </div>
          <h6>University of South Florida ( 2012-2014 )</h6>
          <i>Tampa, FL</i>
        </div>
      </div>
      <div class="collapse" id="experience">
        <div class="card card-block bg-light">
          <%= image_tag "experience.png", alt: "experience image", class: "experience-img" %>   
        </div>
      </div>
      <div class="collapse" id="skill">
        <div class="card card-block bg-light">
          <% @skills.each do |skill| %>
          <div class="row">
            <div class="col-md-4">
              <h4><%= skill.title %></h4>              
            </div>
            <div class="col-md-8">
              <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                aria-valuenow="<%= skill.percent_utilized %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= skill.percent_utilized %>%">
                  <%= skill.percent_utilized %>%
                </div>
              </div>
            </div>
          </div>  
          <% end %>
        </div>
      </div>
    </p>
  </div>
</div>


