<div class="login">
  <div class="card">
    <h2><%= fa_icon "user-circle" %>  Log in</h2>
    <div class="card-block">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group row">
          <%= f.label :email, class: "col-md-4 col-form-label" %>
          <div class="col-md-7">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :password, class: "col-md-4 col-form-label" %>
          <div class="col-md-7">
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="form-group text-white">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>

          </div>
        <% end %>
        <div class="form-group text-white">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
        <div class="auth-link text-white">
          <%= render "devise/shared/links", class: "text-white" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


