<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= favicon_link_tag 'favicons/girl.png' %>
    <title><%= @page_title %></title>


    <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Portfolio Navigation -->
    <%= render "shared/portfolio_nav" %>

  <!-- Portfolio Header -->
    <%= render "shared/portfolio_header" unless logged_in?(:site_admin) %>
      
    <%= yield %>
  <!-- Portfolio Footer -->  
    <%= render "shared/portfolio_footer" %>  
    <%= alert %>
    <hr>
    <%= source_helper('portfolio') %>
  </body>
</html>
